@charset "ISO-8859-1";
.collapsible2 {
	
  background-color: Bisque;
  color: Black;
  cursor: pointer;
  padding: 57px 0px;
  width: 50%;
  border: none;
  text-align: center;
  outline: none;
  font-size: 20px;
  
}

.active, .collapsible2:hover {
	
  background-color: CadetBlue;
}

.collapsible2:after {
	
  content2: '\002B';
  color: DarkBlue;
  font-weight: bold;
  float: right;
  margin-left: 5px;
 
}

.active:after {
	
  content2: "\2212";
}

.content2 {
	
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  /*background-color: #f1f1f1;*/
  background-color: #FF3385;
  width: 80%;
}

@media only screen and (max-width: 800px){
	.content2{
		background-color: #FF3385;
	}
}
