@charset "ISO-8859-1";
h2{
	text-align:center;
	border: 2px solid powderblue;
	width: 25%;
	background-color: powderblue;
	border-radius: 40% 40% 40% 40%;	
}

body{
	font-size: 17px;
	}
	
/*.backgroundImage{
	
  background-image: url('M&W sasla set.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: contain;
}*/

.backgroundImage { 
	
        background-image: url('kitchenSet.jpg'); 
        background-repeat: no-repeat;
  		background-attachment: fixed;
  		background-size: contain;
  		/*background-position: center center;*/
   }

							
.sidenav {
	
	width: 20%;
 	position: fixed;
 	z-index: 1;
 	top: 20px;
 	right: 4px;
 	background: #eee;
 	background-color:CadetBlue;
 	overflow-x: hidden;
 	padding: 8px 0;
 	border-radius: 20% 0 0 20%;
 	font-size: 17px;
}

.sidenav a {
	
 	padding: 5px 8px 5px 8px;
 	text-decoration: none;
 	font-size: 17px;
 	color: Aqua;
 	display: block;
}

.sidenav a:hover {
	color: #064579;
}

.topnav {
  width: 75%;
  overflow: hidden;
  background-color: #333;
  position:fixed;
}

.topnav a {
	
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 8px 10px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

.topnav a:hover {
	
  background-color: #ddd;
  color: black;
}

.topnav a.active {
	
  background-color: #4CAF50;
  color: white;
}

.sale{	
	color:#11CB41;
}

.mainPadding{
	
	padding-top: 55px;
}

@media only screen and (max-width: 800px){
	
	.sidenav a {
		font-size: 15px;
	}
	
	.topnav{
		width: 70%
	}
	
	.topnav a{
		font-size: 15px;
	}
	
	body{
		font-size: 20px;
	}
}