@charset "ISO-8859-1";
h2{
	text-align:center;
	border: 2px solid powderblue;
	width: 25%;
	background-color: powderblue;
	border-radius: 40% 40% 40% 40%;	
}

body{
	font-size: 17px;
	}

.backgroundImage { 
	
		width: 100%;
		height: auto;
        background-image: url('webImage5.png'); 
        background-repeat: no-repeat;
  		background-attachment: fixed;
  		background-size: cover;

   }
   
@media only screen and (max-width: 900px){
  	.backgroundImage {
  		background-image: none;
  		background-color: #FF3385;
  	}
  }
   							
.sidenav {
	
	width: 20%;
 	position: fixed;
 	z-index: 1;
 	top: 20px;
 	right: 4px;
 	background: #eee;
 	background-color:CadetBlue;
 	overflow-x: hidden;
 	padding: 8px 0;
 	border-radius: 20% 0 0 20%;
 	font-size: 19px;
}

.sidenav a {
	
 	padding: 5px 8px 5px 8px;
 	text-decoration: none;
 	font-size: 20px;
 	color: Aqua;
 	display: block;
 	text-align: center;
}

.sidenav a:hover {
	color: #064579;
}

.sale{	
	color: #1819D3;
}

.mainPadding{
	
	padding-top: 10px;
}

.backHomePage{
	
  padding: 8px;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 10px; /* Location of the box */
  left: 0;
  top: 0;
  background-color: yellow;	
	}

@media only screen and (max-width: 800px){
	
	.sidenav a {
		font-size: 15px;
		text-align: left;
	}
	
	.sidenav{
		width: 22%;
		border-radius: 10% 0 0 10%;
		padding-top: 0;
	}
	
	.topnav{
		width: 75%
	}
	
	.topnav a{
		font-size: 15px;
	}
	
	body{
		font-size: 20px;
		background-color: #FF3385;
	}
	
	.mainPadding{
		padding-top: 10%;
	}
}